.\#*
*~
*.elc
/network-security.data
/auto-save-list
/backups
/data/*
!/data/.keep
/elpa
/eshell
/local/*
!/local/*/
/local/*/*
!/local/modules/.keep
!/local/snippets/.keep
!/local/vendor/.keep
!/local/personal.el.template
/url/*
